.header{
  position: relative;
  padding: 1rem 0;
  .container{
    @include flex;
  }
 
}
.menu-icons{
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top:2rem;
  font-size: 1.5rem;
  transition: opacity .5s linear ;
  z-index: 1;
  color:$Gray;
  @include mQ_desktop{
    display: none;
  }
}
